html {
  scroll-behavior: smooth;
}

main .carousel-inner img{
	max-height: 70vh;
	object-fit: cover;
	filter: grayscale(80%);
}

.parallax {
  /* The image used */
  background-image: url("../IMG/data-center.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel {
	position: relative;
}

.carousel .overlay{
	position: absolute;
	top: o;
	bottom: o;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	height: 100%;
	padding: 5%;
}


.datos .fondo img{
	max-height: 70vh;
	object-fit: cover;
	filter: grayscale(80%);
}

.datos {
	position: relative;
}

.datos .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	height: 100%;
	padding: 5%;
}

.jumbotron {
background: #358CCE;
color: #000000;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #000000;
}
.h1 small {
font-size: 24px;
}

#graph #Vector_5{
	
	animation-name: graph;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;    
    animation-play-state: running;  

}
@-webkit-keyframes graph {
    0%     {fill:dodgerblue;}
    50.0%  {fill:greenyellow;} 
    100.0%  {fill:dodgerblue;}
}

@keyframes graph{
    0%     {fill:dodgerblue;}
    50.0%  {fill:greenyellow;}
    100.0%  {fill:dodgerblue;}
}


#lightbulb #Vector_2{
	
	animation-name: bulb;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;    
    animation-play-state: running;  

}
@-webkit-keyframes bulb {
    0%     {fill:lemonchiffon;}
    33.0%  {fill:yellow;} 
	66.0%  {fill:orange;}
	100.0%  {fill:yellow;} 
}

@keyframes bulb{
    0%     {fill:lemonchiffon;}
    33.0%  {fill:yellow;} 
	66.0%  {fill:orange;}
	100.0%  {fill:yellow;} 
}

#bars #Vector_10{
	animation-name: barsgrowth;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;    
    animation-play-state: running;  
}

@-webkit-keyframes barsgrowth{
    0%     {fill:dodgerblue;}
    50.0%  {fill:greenyellow;}
    100.0%  {fill:dodgerblue;}
}

@keyframes barsgrowth{
    0%     {fill:dodgerblue;}
    50.0%  {fill:greenyellow;}
    100.0%  {fill:dodgerblue;}
}