body{
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
}

h1,
h2,
h4,
h5,
h6,
p{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

/*SECCION DE QUE HACEMOS*/
.hero{
    display: flex;
    height: 500px;
    background-image: url('../IMAGENES/data5.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    filter: grayscale(80%);
}

.container-hero {
    display: flex;
    color: white;
    font-size: 12px;
    justify-content: space-evenly;
}

.hero-info {
    display: flex;
    text-align: center;
    width: 30%;
}

.hero-image {
    object-fit: cover;

}

/*SECCION DE QUIENES SOMOS*/
.portfolio{
    background: #497C85;
    padding: 20px;
    height: 450px;
}

.project{
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 15px;
    color: white;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}
.project-title {
    color: white;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details{
    width: 500px;
    /* display: flex */
}

.project-imageContainer{
    width: 500px;
    /* display: inline-block; */
}

/*SECCION DEL HEADER*/
.header{
    background-color:#497C85;
    color: white;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color:white; 
    margin-left: 12px; 
    font-size: 20px;
}

ol,
ul{
    margin:0;
    padding:0;
    list-style:none;
}

.header a{
    color:white;
    text-decoration: none;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
    align-items: center;    
    margin-right: 12px;
}

.header ol li{
    height:inherit;
    display: flex;
    align-items: center;
}

.header a{
    display: flex;  
    align-items: center;
    height: inherit;
    padding:0 10px;
}


/*SECCION DEL FOOTER*/
.footer {
    color: white ;
    background-color:rgba(0, 0, 0, 0.9);
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color:white;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin:0px 10px;
}

.social-link.twitter {
    background-image: url('../IMAGENES/twitter.svg');
    background-size: 50px  50px;
}

.social-link.facebook {
    background-image: url('../IMAGENES/facebook.svg');
    background-size: 50px  50px;
}

/*SECCION DE GOOGLE SHEETS*/
.event-list {
    display:flex;
    /* background-image: url('../IMAGENES/data6.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: left; 
    filter: grayscale(80%);*/
    height: 450px;
    background-color:rgba(0, 0, 0, 0.9);
    align-items: center;
}

.event-title {
    margin-left: 20px;
    color: white;
}

.event {
    margin: 10px;
    width: 280px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    color: white;
    text-align: center  ;
    margin-bottom: 20px;
}

.event-url {
    color:white;
    border: 1px solid;
    padding: 5px  20px;
    text-decoration: none;
    border-radius:  5px;
}

/*SECCION DE CONTACTO*/
.contact {
    display:flex;
    /* background-image: url('../IMAGENES/data-center.jpg');
    background-repeat: no-repeat;
    background-position-x: left;*/
    background-color: #497C85;
    align-items: center;
    max-height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-email h3 {
    font-family: 'Source Sans Pro';
    text-align: center;
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px  10px  25px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5 px;
    width: 150px;
}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    opacity: 1;
    color: white;
    margin-left: 20px;
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
}

.registro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 40px);
    grid-gap: 10px;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
